.taginput-wrapper {
  &:focus-within {
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: #0a76f6;
    outline-style: solid;
  }

  .taginput-input {
    width: 100%;

    &:focus {
      outline-style: none !important;
    }
  }
}